body {
  margin: 0;
}

.left-quote {
  font-size: 20px;
  margin: 3px 10px 0 0;

}

.right-quote{
  font-size: 20px;
  margin: 0 0 3px 10px;
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
}

.features-list{
  list-style: none;
  margin: 0 5px;
  padding: 8px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #5372f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5372f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.features-list:hover{
  color: #fff;
  background: #5372f0;
}